* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

a {
    outline: none;
    text-decoration: none;
    color: black;
}